.header {
  display: flex;
  align-items: center;
  background-color: #232f3e;
  padding: 10px;
  justify-content: space-between;
}
.header .header-logo {
  height: 50px;
  width: auto;
}

.header .login-options {
  justify-self: flex-end;
  width: 300px;
}

.header .search-box {
}